$img_path:        '/files/user/css/images/';
$base_font_size:  15;
// $base_font_color: #2e3538;
$c_white:         #FFFFFF;
$c_main:          #099ad2;
$c_sub1:          #bddbe6;
$c_sub2:          #b0b5b7;
$c_sub3:          #e76060;
$c_sub4:          #2e3538;
$c_sub5:          #e7cf60;
$c_sub6:          #46ba98;
$c_border:        #cccccc;
$break_point:     768px; // @include pc/sp(){...} で参照されるブレイクポイント
$grid_split_num:  12; // Gridの分割
