:root {
  --color-base: #222;
  --color-primary: #2C7BE5;
  --color-primary-dark: #2569c3;
  --color-secondary: #62718C;
  --color-error: #E63757;
  --color-success: #21a68d;
  --color-border: #c9ced6;
  --color-white:  #FFFFFF;
  --color-light-gray: #f4f6f9;
  --color-dark-gray: #2e3538;
  --font-size-base: 1.6rem;
  --font-size-h1: 2.2em;
  --font-size-h2: 1.8em;
  --font-size-h3: 1.4em;
  --font-size-h4: 1.2em;
  --font-size-small: .9em;
  --font-size-x-small: .85em ;
  --font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', Meiryo, 'MS UI Gothic', Helvetica, Arial, sans-serif;
  --font-en: 'Secular One', sans-serif;
  --border-radius: 4px;
  --spacing: 1em;
  --spacing-vertical-pc: 80px;
  --spacing-horizontal-pc: 40px;
  --spacing-vertical-sp: 40px;
  --spacing-horizontal-sp: 20px;
  --transition-seconds: 0.2s;
  --header-height-pc: 80px;
  --header-height-sp: 60px;
}