.c-badge {
  padding: calc( var(--spacing) / 4 ) var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--font-size-x-small);
  text-align: center;
}