/*
---
name: base button
category:
 - component/button
tag:
 - base
 - button
---

## This is base button

* Base button style.
* Use `a` or `button` tag.

```html sample
<div>
  <button class="c-button">ボタン</button>
  <button class="c-button icon-arrow-right">ボタン</button>
  <button class="c-button icon-arrow-left">ボタン</button>
</div>
<div>
  <button class="c-button--strong">強調ボタン</button>
  <button class="c-button--strong icon-arrow-right">強調ボタン</button>
  <button class="c-button--strong icon-arrow-left">強調ボタン</button>
</div>
<div>
  <button class="c-button--disabled">非活性ボタン</button>
  <button class="c-button--disabled icon-arrow-right">非活性ボタン</button>
  <button class="c-button--disabled icon-arrow-left">非活性ボタン</button>
</div>
<div>
  <button class="c-button--return">戻るボタン</button>
  <button class="c-button--return icon-arrow-right">戻るボタン</button>
  <button class="c-button--return icon-arrow-left">戻るボタン</button>
</div>
```
*/
%icon-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  @include fz(18);
}

%button {
  display: inline-block;
  position: relative;
  font-size: 1em;
  line-height: 1;
  color: var(--color-white);
  padding: var(--spacing);
  border-radius: calc( var(--border-radius) /2 );
  background-color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition-seconds) background-color;
  cursor: pointer;

  &.icon-arrow {
    &-right {
      &:before {
        right: 12px;
        @extend %icon-arrow;
        // @extend %fa_properties;
        // content: $fa-var-angle-right;
      }
    }

    &-left {
      &:after {
        left: 12px;
        @extend %icon-arrow;
        // @extend %fa_properties;
        // content: $fa-var-angle-left;
      }
    }
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.c-button {
  @extend %button;


  &:disabled {
    @extend %button;
    background-color: #bbb;
    pointer-events: none;
  }

  &--return {
    @extend %button;
    color: var(--color-primary);
    background-color: var(--color-white);
    border: solid 1px var(--color-primary);

    &:hover {
      background-color: darken($c_white, 10%);
    }
  }

  &__outer {
    text-align: center;
    margin: 20px auto;
    button{
      margin: 0 10px;
    }
  }
}
