.c-card {
  &__image {
    img { 
      width: 100%;
      border-radius: calc( var(--border-radius) * 2 );
    }
  }
  &__heading {
    margin: 0;
    padding: var(--spacing) 0;
    font-size: var(--font-size-h4);
    font-weight: bold;
  }
  // &__text {
  //   @extend .c-text--small;
  //   &:first-child { margin-top: 0; }
  //   &:last-child { margin-bottom: 0; }
  // }
  &-list {
    display: flex;
    flex-wrap: wrap;
    &--col-3 {
      li {
        @include pc {
          flex: 0 0 calc( (100% - ( var(--spacing) * 4 )) / 3 );
          &:not(:nth-of-type(3n+1)) { margin-left: calc( var(--spacing) * 2 ); }
        }
        @include sp {
          &:not(:first-child) { margin-top: calc( var(--spacing) * 2 ); }
        }
      }
    }
  }
}
