// html sample
// <div class="c-form">
//     項目<span class="c-form-required">（必須）</span>
// </div>

%input {
  padding: var(--spacing);
  border: 1px solid var(--color-border);
  border-radius: calc( var(--border-radius) / 2 );
}
.c-form {
  &-group {
    display: block;
    margin-bottom: var(--spacing);
  }
  &-label {
    display: inline-block;
    margin-bottom: var(--spacing-sm);
  }
  &-input {
    display: block;
    width: 100%;
    @extend %input;
  }
}

.c-form-required {
  display: inline-block;
  margin-left: 10px;
  color: $c_sub3;
  @include fz(12);
  font-weight: bold;
}

// html sample
// <div class="c-form-policyAgree">
//   <div class="c-form-policyAgree__contents">
//     <h2 class="c-heading--lv2">個人情報保護方針</h2>
//     <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>

//     <h3 class="c-heading--lv3">１．個人情報に関する個人の尊重</h3>
//     <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>

//     <p class="c-text--align-right">XXXX年XX月XX日</p>
//   </div>
//   <p class="c-form-policyAgree__check"><label><input type="checkbox" name="" value="" class="c-form-toggle__checkbox" data-js="privacyAgreeCheck"> 個人情報保護方針に同意する</label></p>
// </div>
// <div class="c-button__outer">
//   <button class="c-button--disabled" type="submit" data-js="privacyAgreeSubmit">確認</button>
// </div>

.c-form-policyAgree {
  margin: 30px auto;
  &__contents{
    overflow-y: auto;
    margin: 0 auto 30px;
    border: 1px solid var(--color-border);
    height: 300px;
    @include pc() {
      width: 75%;
      padding: 20px;
    }
    @include sp() {
      width: 90%;
      padding: 10px;
    }
  }
  &__check{
    text-align: center;
    @include pc() {
      @include fz(20);
    }
    @include sp() {
      @include fz(16);
    }
  }
}
