.c-form {
  &-group {
    display: block;
    margin-bottom: var(--spacing);
  }
  &-label {
    display: inline-block;
    margin-bottom: calc( var(--spacing) / 2 );
    &__required {
      color: var(--color-error);
    }
  }
  &-input {
    display: block;
    width: 100%;
    padding: var(--spacing);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
  }
}