/*
---
name: Loading
category:
 - component/js/loading
---

```html sample
<div class="c-modal">
  <div class="c-modal__bg"></div>
  <div class="c-modal__contents--loading">
    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
  </div>
</div>
<button type="button" data-js="loading-open">ローディング表示</button>
```
*/
.c-modal {
  &__contents {
    &--loading {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 9900;
      .fa {
        color: var(--color-white);
        @include fz(100);
      }
    }
  }
}
