.c-page-title {
  // position: relative;
  // background: url("~/assets/image/pagetitle_bg.png") no-repeat center;
  // background-size: 100%;
  padding: var(--spacing-vertical-pc) 0;
  background-color: var(--color-light-gray);
  &__heading {
    font-size: var(--font-size-h1);
    font-weight: bold;
    z-index: 10;
  }
  &__date {
    display: inline-block;
    margin-top: calc(var(--spacing) * 2);
    font-size: var(--font-size-x-small);
    z-index: 10;
  }
}