.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--color-border);
  background-color: var(--color-white);
  z-index: 100;
  @include pc() {
    margin-bottom: 30px;
  }
  @include sp() {
    margin-bottom: 20px;
  }
  @at-root {
    .is-top & {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &__inner {
    @include pc() {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
    }
    @include sp() {
      position: relative;
      height: 50px;
    }
  }
  &__logo {
    flex: 0 0 auto;
  }
  &__nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    &__list {
      @include pc() {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
      }
      @include sp() {
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        background-color: var(--color-primary);
        z-index: 100;
      }
      @at-root {
        .is-open & {
          display: block;
        }
      }
      &__item {
        &:not(:last-child) {
          @include sp() {
            border-bottom: solid 1px var(--color-white);
          }
        }
        a {
          padding: var(--spacing);
          text-decoration: none;
          @include sp() {
            color: var(--color-white);
          }
        }
      }
    }
  }
}

.icon-animation {
  @include pc() {
    display: none;
  }
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  background: rgba(255, 255, 255, 0.02);
  width: 19px;
  height: 13px;
  transform: translateY(-50%);

  &:hover {
    opacity: 0.7;
  }

  span {
    display: block;
    position: absolute;
    top: 50%;
    width: 17px;
    height: 2px;
    border-radius: 5px;
    background: #333;
    margin-left: 0;
  }
}

.type-1 {
  span {
    transition: all 0.3s;
    transform: rotate(0deg);
  }

  .top {
    transform: translateY(-6px);
  }

  .bottom {
    transform: translateY(6px);
  }
}

.is-open .type-1 {
  .middle {
    background: rgba(255, 255, 255, 0);
  }

  .top {
    transform: rotate(-45deg) translateY(0px);
  }

  .bottom {
    transform: rotate(45deg) translateY(0px);
  }
}
