.p-top {
  &__section {
    &--image-text {
      @include pc() {
        display: flex;
      }
      &__image {
        @include pc() {
          flex: 0 0 auto;
          max-width: 400px;
          margin-right: calc(var(--spacing-horizontal-pc) * 2);
        }
        @include sp() {
          margin-bottom: var(--spacing-vertical-sp);
        }
      }
    }
    &--list {
      @include pc() {
        display: flex;
      }
    }
    &--dark-block {
      border-radius: calc(var(--border-radius) * 2);
      background-color: var(--color-dark-gray);
      color: var(--color-white);
      @include pc() {
        padding: var(--spacing-vertical-pc) var(--spacing-horizontal-pc);
      }
      @include sp() {
        padding: var(--spacing-vertical-sp) var(--spacing-horizontal-sp);
      }
    }
  }
}
